<div>
  <h4> Background </h4>
  <p> background <%= background.background_type %> </p>
  <p> race <%= background.race %> </p>
  <p> subrace <%= background.subrace %> </p>
  <p> age <%= background.age %> </p>
  <p> height <%= background.height %> </p>
  <p> weight <%= background.weight %> </p>
  <p> alignment <%= background.alignment %> </p>
  <p> appearance <%= background.appearance %> </p>
</div>
